/* ===== BACKGROUND ===== */
.rootImage {
  min-height: 100vh;
  padding-bottom: clamp(40px, 4vw, 80px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/backgroundImage.png");
  background-size: cover;
  background-position: center;
}

.aboutContainer {
  padding: clamp(30px, 5vw, 20px);
  max-width: 1400px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: black;
  text-align: justify;
  text-justify: inter-word;
}

/* HERO */
.hero {
  text-align: center;
  margin-bottom: clamp(20px, 6vw, 10px);
}

.hero h1 {
  font-size: clamp(28px, 3vw, 56px);
  color: #f28237f8;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
}

.hero p {
  font-size: clamp(16px, 1.5vw, 24px);
  color: #555;
}

/* SECTIONS */
.section {
  margin-bottom: clamp(30px, 5vw, 80px);
}

.section h2 {
  font-size: clamp(22px, 2vw, 40px);
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}

.section p {
  font-size: clamp(14px, 1.2vw, 20px);
  color: #444;
}

/* HIGHLIGHT BOX */
.highlight {
  background: rgba(243, 165, 113, 0.644);
  padding: clamp(20px, 3vw, 60px);
  border-radius: 20px;
  margin-bottom: clamp(30px, 5vw, 80px);
}

.highlight h2 {
font-weight: bold;
}

/* LIST */
.list {
  padding-left: 20px;
}

.list li {
  font-size: clamp(14px, 1.2vw, 20px);
  margin-bottom: 8px;
}

/* FOOTER NOTE */
.footerNote {
  text-align: center;
  margin-top: clamp(40px, 6vw, 100px);
}

.footerNote h3 {
  font-size: clamp(20px, 2vw, 32px);
}