.container {
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* HERO */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
}

.overlay {
  position: absolute;
  inset: 0;
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  text-align: center;
}

.heroContent h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 2rem;
}

.heroContent h1,
.sectionHeader span,
.sectionHeader h2,
.cardNumber,
.serviceCard h3,
.planCard h3,
.planCard h1,
.reasonCard h3,
.cta h2,.reasonCard span {
  color: #0d2d77;
}

.subtitle,
.intro p,
.serviceCard p,
.reasonCard p,
.cta p,.planCard ul  {
  color: #672c9e;
  text-align: justify;
  text-justify: inter-word;
}

.subtitle {
  font-size: 1.3rem;
  line-height: 1.8;
  max-width: 1100px;
  margin: auto;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.sectionHeader span {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
}

.sectionHeader h2 {
  font-size: 3rem;
  font-weight: 700;
}

/* INTRO */
.intro {
  padding: 5rem 6rem;
  text-align: center;
}

.intro p {
  max-width: 1200px;
  margin: auto;
  line-height: 2;
  font-size: 1.4rem;
}

/* SERVICES */
.services {
  padding: 2rem 2rem;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.serviceCard {
  padding: 2rem;
  border-radius: 30px;
  transition: 0.4s;
  backdrop-filter: blur(10px);
  background-color: #e7ecf898;
  border: 2px solid #0d2d77;
}

.serviceCard:hover {
  transform: translateY(-10px);
}

.cardNumber {
  font-size: 4rem;
  font-weight: 800;
}

.serviceCard h3 {
  font-size: 2rem;
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

.serviceCard p {
  line-height: 1.8;
  font-size: 1.1rem;
}

/* PRICING */
.pricing {
  padding: 4rem 6rem;
}

.pricingGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  margin-top: 3rem;
}

.planCard {
  position: relative;
  background-color: #e7ecf898;
  border: 2px solid #0d2d77;
  border-radius: 30px;
  padding: 2rem 2rem;
  transition: 0.4s;
}

.planCard:hover {
  transform: scale(1.03);
}

.featured {
  border: 2px solid #0d2d77;
  transform: scale(1.05);
}

.popular {
  position: absolute;
  top: -15px;
  right: 30px;
  background: #0d2d77;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 700;
}

.planCard h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.planCard h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  line-height: 0.8;
  font-weight: 800;
}

.planCard ul {
  list-style: none;
}

.planCard ul li {
  margin-bottom: 0.4rem;
  line-height: 1.8;
  font-size: 1.1rem;
}

.planCard button {
  margin-top: 2rem;
  width: 100%;
  padding: 1.2rem;
  border-radius: 50px;
  border: none;
  background: #0d2d77;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* WHY CHOOSE */
.whyChoose {
  padding: 5rem 6rem;
}

.reasonGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.reasonCard {
  padding: 2rem;
  border-radius: 30px;
  transition: 0.4s;
  background-color: #e7ecf898;
  border: 2px solid #0d2d77;
}

.reasonCard:hover {
  transform: translateY(-8px);
  border: 3px solid #0d2d77;
}

.reasonCard span {
  font-size: 4rem;
  font-weight: 800;
}

.reasonCard h3 {
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 2rem;
}

.reasonCard p {
  line-height: 1.4;
  font-size: 1.1rem;
}

/* CTA */
.cta {
  padding: 2rem 2rem;
  text-align: center;
}

.cta h2 {
  font-size: 2.5rem;
  max-width: 1200px;
  margin: auto;
  font-weight: 700;
}

.cta p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.cta button {
  margin-top: 3rem;
  padding: 1.2rem 3rem;
  border-radius: 50px;
  border: none;
  background: #0d2d77;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

/* 4K RESPONSIVE */
@media (min-width: 2560px) {
  .heroContent h1 {
    font-size: 8rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .sectionHeader h2 {
    font-size: 5rem;
  }

  .serviceCard h3,
  .reasonCard h3,
  .planCard h3 {
    font-size: 2.5rem;
  }

  .serviceCard p,
  .reasonCard p,
  .planCard ul li,
  .intro p {
    font-size: 1.5rem;
  }

  .planCard h1 {
    font-size: 5rem;
  }
}

/* TABLET */
@media (max-width: 1024px) {

  .serviceGrid,
  .pricingGrid,
  .reasonGrid {
    grid-template-columns: 1fr;
  }

  .hero,
  .intro,
  .services,
  .pricing,
  .whyChoose {
    padding: 2rem 2rem;
  }

  .heroContent h1 {
    font-size: 4rem;
  }

  .sectionHeader h2 {
    font-size: 3rem;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .heroButtons {
    flex-direction: column;
  }

  .sectionHeader h2 {
    font-size: 2.2rem;
  }

  .intro p {
    font-size: 1rem;
  }

  .cta h2 {
    font-size: 2rem;
  }
}