/* ===== HERO SECTION ===== */
.heroSection {
  max-width: var(--container-width);
  margin: auto;
  padding: var(--section-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: var(--gap);
  align-items: center;
}

/* IMAGE */
.heroImage img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: clamp(20px, 2vw, 40px);
  box-shadow: 0 clamp(10px, 1vw, 30px) clamp(20px, 2vw, 60px) rgba(0,0,0,0.15);
}

/* CONTENT */
.heroContent {
  display: flex;
  flex-direction: column;
}

/* HEADING */
.heroContent h2 {
  font-size: clamp(28px, 6vw, 55px);
  line-height: 1.2;
  color: #2f8f68;
  font-family: Georgia, serif;
  margin-bottom: clamp(20px, 2vw, 40px);
}

/* PARAGRAPH */
.heroContent p {
  font-size: clamp(14px, 3.5vw, 24px);
  line-height: 1.7;
  color: #3d4ea3;
  max-width: 60ch;
  margin-bottom: clamp(20px, 2vw, 40px);
}

/* BUTTON */
.heroContent button {
  background: #f5873ef8;
  color: white;
  border: none;
  padding: clamp(14px, 1.2vw, 28px) clamp(30px, 3vw, 90px);
  font-size: clamp(16px, 1.2vw, 30px);
  border-radius: clamp(8px, 1vw, 18px);
  cursor: pointer;
  transition: .3s;
  align-self: flex-end;
}

.heroContent button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .heroContent {
    align-items: center;
    text-align: center;
  }

  .heroContent button {
    align-self: center; /* fix button position */
  }

  .heroSection {
    padding: 30px 20px;
    gap: 20px;
  }

  .rootImage {
    padding-bottom: 40px;
  }
}

.heroImage img {
  animation: floatImage 5s ease-in-out infinite;
}



.videoSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark overlay */
.videoSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 2.8rem;
  color: #f5873ef8;
}

.overlay p {
  font-size: 22px;
  margin-bottom: 25px;
}

.overlay button {
  padding: 14px 35px;
  border: none;
  border-radius: 10px;
  background: #f5873ef8;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

