* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jobPortalContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Left Section - 60% */
.jobListingsSection {
  width: 100%;
  padding: 40px;
  overflow-y: auto;
  border-right: 1px solid #e9ecef;
}

.sectionTitle {
  font-size: 28px;
  color: #f28237f8;
  margin-bottom: 25px;
  font-weight: 700;
}

.jobCard {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.jobCard:hover {
  transform: translateY(-2px);
}

.jobTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.jobMeta {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.badge,
.badgeSalary {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  background-color: white;
  border-radius: 8px;
}

.jobDetails p {
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
}

.applyBtn {
  margin-top: 12px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
  border-radius: 8px;
}

/* Responsive breakpoint for mobile devices */
@media (max-width: 768px) {
  .jobPortalContainer {
    flex-direction: column;
  }
  
  .jobListingsSection {
    width: 100%;
    height: auto;
    position: static;
    padding-left: 5px;
    padding-right: 5px;
  }

  .jobMeta {
  flex-direction: column;
}
}