.pricingContainer {
  padding: 20px 20px;
  background: #fbb6858b;
  text-align: center;
}

/* TITLE */
.title {
  font-size: 42px;
  font-weight: 700;
  color: #0a2540;
  margin-bottom: 60px;
}

/* GRID */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: #f7f9fc;
  width: 320px;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  text-align: left;
  position: relative;
}

/* HOVER */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.12);
  border: 2px solid #ffbe93f8;
}

/* POPULAR */
.popular {
  border: 2px solid #ffbe93f8;
}

/* RIBBON */
.ribbon {
  position: absolute;
  top: -12px;
  left: 20px;
  background: #ffbe93f8;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
}

/* TEXT */
.planTitle {
  font-size: 18px;
  font-weight: 600;
  color: #0a2540;
}

.price {
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0;
  color: #0a2540;
  text-align: center;
  line-height: 1.2;
}

.price span {
  font-size: 14px;
  color: #6b7c93;
  margin-left: 5px;
}

.subtitle {
  color: #6b7c93;
  margin-bottom: 20px;
}

/* BUTTON */
.primaryBtn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ffbe93f8;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.primaryBtn:hover {
  background: #ffbe93f8;
}

/* FEATURES */
.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  margin: 10px 0;
  color: #425466;
  font-size: 14px;
}

/* SECTION WRAPPER */
.detailsSection {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* SMALL CARDS */
.detailCard {
  background: #fff;
  padding: 25px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: left;
}

/* BIG CARD */
.detailCardWide {
  width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: left;
}

/* TEXT */
.bigText {
  font-size: 24px;
  font-weight: 700;
  color: #0a2540;
  margin: 10px 0;
}

/* LIST */
.detailCard ul {
  padding-left: 0;
  list-style: none;
}

.detailCard ul li {
  margin: 8px 0;
  color: #425466;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 15px;
}