/* ===== BACKGROUND ===== */
.rootImage {
  min-height: 100vh;
  padding-bottom: clamp(40px, 4vw, 80px);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/backgroundImage.png");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 50px 20px;
  text-align: center;
  min-height: 100vh;
}

.hero h1 {
  font-size: 38px;
  font-weight: 700;
  color: #ffbe93f8;
}

.hero p {
  color: #666;
  margin-top: 10px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid #eee;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  color: #333;
}

.card p {
  color: black;
  white-space: pre-line;
}

.viewBtn {
  margin-top: 20px;
  padding: 12px 28px;
  background: linear-gradient(135deg, #ffbe93f8, #ffbe9375);
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.viewBtn:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}