.container {
  padding: 50px 20px;
  text-align: center;
  min-height: 100vh;
}

.hero h1 {
  font-size: 38px;
  font-weight: 700;
  color: #f2a16bf8;
  line-height: 2rem;
}

.hero p {
  color: black;
  margin-top: 10px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  white-space: pre-line;
}

.viewBtn {
  margin-top: 20px;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}

.viewBtn:hover {
  transform: scale(1.08);
}