.footer {
  padding: clamp(5px, 4vw, 20px);
  background: #f28237cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* important for mobile */
  gap: clamp(20px, 3vw, 60px);
}

/* LEFT TEXT */
.footerBottom {
  font-size: clamp(14px, 1.2vw, 22px);
  color: black;
}

/* RIGHT SIDE */
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

/* TITLE */
.footerLinks p {
  font-size: clamp(16px, 1.4vw, 26px);
  font-weight: 600;
  margin: 0;
}

/* SOCIAL ICONS CONTAINER */
.footerSocialMedia {
  display: flex;
  gap: clamp(10px, 1.5vw, 25px);
}

/* ICON STYLE */
.socialIcons {
  width: clamp(35px, 3vw, 60px);
  height: clamp(35px, 3vw, 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  color: #f9873af8;
  border-radius: 50%;
  font-size: clamp(14px, 1.2vw, 24px);
  transition: all 0.3s ease;
}

.socialIcons:hover {
  background: white;
  transform: translateY(-5px) scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footerLinks {
    align-items: center;
  }
}