/* ===== BACKGROUND ===== */
.rootImage {
  min-height: 100vh;
  padding-bottom: clamp(40px, 4vw, 80px);
  background-image: url("../../assets/images/backgroundImage.png");
  background-size: cover;
  background-position: center;
}

.expertise {
 /* max-width: var(--container-width);*/
  margin: 0.5vw;
  padding: 5vh;
}

/* TITLE */
.expertise h3 {
  text-align: center;
  font-size: clamp(30px, 3vw, 70px);
  color: #f28237f8;
  margin-bottom: clamp(30px, 3vw, 80px);
}

/* GRID */
.serviceGrid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* CARD */
.serviceCard {
  background: white;
  border-radius: clamp(20px, 2vw, 40px);
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.serviceCard:hover {
  transform: translateY(-10px);
  border: 1.5px solid #f28237f8;
}

/* CARD IMAGE */
.serviceCard img {
  width: 100%;
  height: clamp(150px, 20vw, 200px);
  object-fit: fill;
}

/* CARD TEXT */
.serviceCard h4 {
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  text-align: center;
  font-size: clamp(18px, 1.5vw, 34px);
  font-weight: 600;
  color: #333;
}

/* Tablet */
@media (max-width: 1024px){
  .servicesGrid{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px){
  .servicesGrid{
    grid-template-columns: 1fr;
  }

  .rootImage {
  background-image: url("../images/backgroundImage.png");
}
}