.wrapper {
  width: 100%;
  padding: 60px 20px;
  border-top: 3px solid #cbd5e1;
}

.heading {
  color: #0d2d77;
  text-align: center;
  font-size: clamp(28px, 3vw, 42px);
  font-weight: bold;
  margin-bottom: 40px;
}

.card {
  padding: 40px 20px;
  border-radius: 20px;
  text-align: center;
  transition: 0.4s ease;
  transform: scale(0.9);
  background-color: #e7ecf898;
  border: 3px solid #0d2d77;
}

/* Active center card */
.swiper-slide-active .card {
  transform: scale(1.1);
}

/* Side cards */
.swiper-slide-prev .card,
.swiper-slide-next .card {
  transform: scale(0.95);
}

.card h3 {
  font-size: 24px;
  color: #0d2d77;
}

.card p {
  margin-top: 10px;
  color: #672c9e;
}

/* Pagination dots */
.swiper-pagination-bullet {
  background: #888;
}

.swiper-pagination-bullet-active {
  background: #fff;
}