* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===== ROOT SCALING VARIABLES ===== */
:root {
  --container-width: min(90%, 1800px);
  --section-padding: clamp(40px, 5vw, 120px);
  --gap: clamp(20px, 3vw, 80px);
}


/* ===== SPACE BACKGROUND ===== */
.rootImage {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("/src/assets/images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-bottom: 40px;
}