/* Header */
.heroHeader{
text-align:center;
padding:3vh 0 15px;
border-bottom:1px solid #aaa;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo img{
  max-height: 25vh;
  padding: 4vh;
}

.logo h1{
  font-size:3rem;
  font-weight:700;
  margin-top:0.5vh;
  padding: 6vh 2vh;
  background: linear-gradient(90deg, #7a8cff, #ff7d61, #ffbe3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1;
}

/* Navbar */
.navbar{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
padding-bottom:2vh;
}

.navbar a{
text-decoration:none;
background: transparent;
color:black;
padding:2vh 3vh;
border-radius:30px;
font-weight:600;
}

.navbar a:hover{
/*background:#e2e0df85;
transform:translateY(-3px);*/
  border-bottom: 1px solid #aaa;
}

@media (max-width: 768px) {
  .logo img{
  max-height: 15vh;
  padding: 1vh;
  margin-top: 2vh;
  margin-left: 5vw;
}

.logo h1{
  font-size:2rem;
  font-weight:700;
  margin-top:2vh;
  padding: 3vh 2vh;
  background: linear-gradient(90deg, #7a8cff, #ff7d61, #ffbe3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  line-height: 1;
}
}