/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* Logo */
.logo img {
  max-width: 300px;
}

/* Desktop Nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: static;  
}

/* Hamburger */
.menu-icon {
  width: 30px;
  min-height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
}

/* Hamburger lines */
.menu-icon span {
  min-height: 3px;
  width: 100%;
  background: #192e80;
  border-radius: 2px;
  transition: 0.3s;
}

/* Animation */
.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-icon.open span:nth-child(2) {
  opacity: 0;
}
.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 998;
}
  
.nav-links a,
.nav-links span {
  text-decoration: none;
  color: #192e80;  
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown {
  position: relative;
}

.dropdown span {
  color: #192e80;
  font-weight: 500;
  font-size: 20px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;   /* 👈 align directly under "Business" */
  margin: 10px auto;
  padding: 15px 15px;
  background: white;
  min-width: 200px;
  border-radius: 5px;
  list-style: none;
  line-height: 1.8;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  z-index: 10000;
}

.dropdown-menu li {
  padding: 10px 15px;
}

.dropdownMenu li:hover {
  background: #f0f4ff;
}

.dropdown svg {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}


/* Mobile View */
@media (max-width: 768px) {
  .menu-icon {
    display: flex; /* show hamburger */
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }
}